<div class="hero-image">
    <div class="hero-text">
        <p></p>
        <br>
        <h2>Unleash Your Talent</h2>
        <br>
        <p class="p-comm">Our games are crafted from unique design and top-notch technology, <br> just like our team.</p>
    </div>
    <div class="right">
        <img src="assets/images/jobs/thumbsUp.png" alt="placeholder">
    </div>
</div>
<div class="opportunities-container">
    <div class="opportunity">
        <img src="assets/images/jobs/CommunityManager1.png" alt="Community Manager" />
        <h2>Community Manager</h2>
        <p>With their exceptional communication skills and passion for building connections, they ensure players feel heard, engaged, and supported.</p>
        <a routerLink="/communityManager" class="apply-button">Apply Now</a>
    </div>
    <div class="opportunity">
        <img src="assets/images/jobs/QATester.png" alt="QA Tester" />
        <h2>QA Tester</h2>
        <p>Embodies the meticulous guardians of game quality. Armed with sharp eyes for detail and a knack for uncovering even the tiniest bugs.</p>
        <a routerLink="/QAtester" class="apply-button">Apply Now</a>
    </div>
    <div class="opportunity">
        <img src="assets/images/jobs/developer.png" alt="Game Developer" />
        <h2>Game Developer</h2>
        <p>These visionary creators shape the very fabric of gaming, taking us on unforgettable journeys through their digital realms.</p>
        <a routerLink="/gameDeveloper" class="apply-button">Apply Now</a>
    </div>
    <div class="opportunity">
        <img src="assets/images/jobs/gameDesigner.png" alt="Game Designer" />
        <h2>Game Designer</h2>
        <p>Become the architects of fun, ensuring every moment in the game is an adventure to remember.</p>
        <a routerLink="/gameDesigner" class="apply-button">Apply Now</a>
    </div>
</div>
