<div class="hero">
    <div class="hero-content">
      <h1>About</h1>
      <h2>For the Love of the Game</h2>
      <p>Zozzo Games was established in 2015 to craft interactive entertainment for the mobile world.</p>
      <p>For the Love of the Game is a passion-driven project that celebrates the profound connection we have with gaming. We believe in the transformative power of games to entertain, inspire, and unite players from all walks of life.</p>
    </div>
  </div>
  
  <section class="quick-facts">
    <div class="quick-facts-box">
      <div class="quick-facts-left">
        <h3>Quick Facts</h3>
        <div class="fact-box">
          <div class="fact" id="top-fact">
            <h4>Team Members</h4>
            <p>24</p>
          </div>
          <div class="fact" id="top-fact">
            <h4>Growth Rate</h4>
            <p>110%</p>
          </div>
          <div class="fact fact-last" id="bottom-fact">
            <h4>Years of Experience</h4>
            <p>6</p>
          </div>
        </div>
      </div>
      <div class="quick-facts-right">
        <h3>We're based in San Francisco</h3>
        <img src="/assets/images/aboutUs/development.jpg" alt="San Francisco">
        <p>Vibrant and captivating city that exudes a unique charm.</p>
      </div>
    </div>
  </section>
  
  <section class="team-cards">
    <h3>Meet Our Team</h3>
    <div class="card-container">
      <div class="cards-info">
        <div class="team-card">
          <div class="card-content">
            <img src="/assets/images/aboutUs/CTO.jpg" alt="CTO">
          </div>
        </div>
        <h4>Terry Flynn</h4>
        <p>CTO</p>
      </div>
      <div class="cards-info">
        <div class="team-card">
          <div class="card-content">
            <img src="/assets/images/aboutUs/developer.jpg" alt="Game Developer">
          </div>
        </div>
        <h4>Lili Hernandez</h4>
        <p>Senior Game Developer</p>
      </div>
      <div class="cards-info">
        <div class="team-card">
          <div class="card-content">
            <img src="/assets/images/aboutUs/designer.jpg" alt="Game Designer">
          </div>
        </div>
        <h4>Wang Kim</h4>
        <p>Senior Game Designer</p>
      </div>
    </div>
  </section>
  
  <section class="join-team">
    <div class="background-image">
      <h3>Join Our Team</h3>
      <a routerLink="/careers"><button class="join-button">Apply Now</button></a>
      <img src="/assets/images/aboutUs/handPen.png" alt="Background Image">
    </div>
  </section>
  