<!-- <div class="one" id="one"></div> -->
      <!-- first card -->
      <section id="text" class="catGame">
        <div class="dung-background">
            <img src="assets/images/feedTheCat/catforest.jpg" alt="" class="dunBack">
          <div class="gameInfo Cat">
            <div class="textInfo">
              <div class="gameLogo">
                <img src="assets/images/hero/catBtn.jpg" alt="game 2" class="game-image" id="game2">
                <div class="gameLogoText">
                  <h3>Feed The Cat</h3>
                  <p>Casual</p>
                </div>
              </div>
              <div class="cardText">
                <p>Prepare to be whisked away on a delightful journey as you navigate puzzles and satisfy the appetite of our adorable and hungry kitty.</p>
                <div class="storeImages">
                  <a href="https://www.apple.com/ge/app-store/"><img src="assets/images/general/Apple Store.png" alt="App Store" class="appStore"></a> 
                  <a href="https://play.google.com/store/games?hl=en&gl=US"><img src="assets/images/general/Google Play.png" alt="Play Store" class="playStore"></a> 
                </div>
              </div>  
            </div>
            <img src="assets/images/feedTheCat/Feed the Cat.jpg" alt="Wallpaper" class="dunWall">
          </div>
        </div>
      </section>
    <!-- <div class="two"  id="two"></div>     -->
      <!-- second card -->
      <section id="text" class="dungeonGame">
        <div class="dung-background">
          <img src="assets/images/dungeonGame/dungeonInfoBackground.png" alt="" class="dunBack">
          <div class="gameInfo"> 
            <div class="textInfo">
              <div class="gameLogo">
                <img src="assets/images/hero/dungeonBtn.jpg" alt="game 2" class="game-image" id="game2">
                <div class="gameLogoText">
                  <h3>Ripple Delete</h3>
                  <p>Strategy</p>
                </div>
              </div>
              <div class="cardText">
                <p>Dive into an immersive world where ripples of excitement and strategy collide! With its innovative gameplay mechanics and stunning visuals, this game is a true gem.</p>
                <div class="storeImages">
                 <a href="https://www.apple.com/ge/app-store/"><img src="assets/images/general/Apple Store.png" alt="App Store" class="appStore"></a> 
                 <a href="https://play.google.com/store/games?hl=en&gl=US"><img src="assets/images/general/Google Play.png" alt="Play Store" class="playStore"></a> 
                </div>
              </div> 
            </div>
            <img src="assets/images/dungeonGame/Ripple Delete.jpg" alt="Wallpaper" class="dunWall">
          </div>
        </div>
      </section>
    <!-- third card -->
    <!-- <div class="three"  id="three"></div> -->
      <section id="text" ><div class="dung-background">
        <img src="assets/images/jumpOn/dragonGame.jpg" alt="" class="dunBack">
        <div class="gameInfo">
          <div class="textInfo">
            <div class="gameLogo">
              <img src="assets/images/hero/jumpOnBtn.jpg" alt="game 2" class="game-image" id="game2">
              <div class="gameLogoText">
                <h3>Jump On</h3>
                <p>Adventure</p>
              </div>
            </div>
            <div class="cardText">
              <p>Prepare for an adrenaline-pumping adventure like no other! In this exhilarating platformer, you'll leap through vibrant and challenging levels, testing your reflexes and precision.</p>
              <div class="storeImages">
                <a href="https://www.apple.com/ge/app-store/"><img src="assets/images/general/Apple Store.png" alt="App Store" class="appStore"></a> 
                <a href="https://play.google.com/store/games?hl=en&gl=US"><img src="assets/images/general/Google Play.png" alt="Play Store" class="playStore"></a> 
              </div>
            </div>  
          </div>
          <img src="assets/images/jumpOn/Jump On.jpg" alt="Wallpaper" class="dunWall">
        </div>
      </div>
    </section> 