*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -moz-font-feature-settings: "liga" on; */
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* margin: 0; */
  padding: 0;
  margin-top: 50px;
}

.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(80%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
/* .card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}
.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}
.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}
.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
} */
.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  color: #696969;
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  /* margin-bottom: 1.25rem; */
}

.card__createdAt{
  color: #696969;
}

.red-button {
  background-color: red;
  color: white;
}

.loggedOut{
  margin: 150px 0 50px 0;
  height: 100px;
  text-align: center;
  font-weight: 700;
  color: black;
}

.highlight{
  border-radius: 5px;
  background-color: #ffd700; 
  padding: 0 5px; 
  color: black;
}

h1{
  color: rgba(50, 6, 50, 0.798);
}

.card__btn{
  background-color: rgba(16, 176, 43, 0.31);
  /* width: 10%; */
  width: fit-content;
  margin:  0 auto;
  margin-top: 150px;
}

.line{
  margin: 0 auto;
  width: 70%;
  height: 3px;
  background-color: rgba(209, 209, 240, 0.599);
}

.card__creator{
  color: black;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.card__info{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.react__span{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import '~bootstrap-icons/font/bootstrap-icons.css';

/*  */
.pfp{
  max-width: 40px;
  /* height: 50px; */
  border-radius: 20px;
}

.card__content .line{
  width: 100%;
}

.reacted {
  background-color: red;
}


.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.icon {
  cursor: pointer;
}

.heart{
  color: black;
  cursor: pointer;
}

.filled {
  background-color: red;
  color: white;
}

/* Icons */
.fa-heart{
 color: black;
 cursor: pointer;
}

.fa-solid{
  color: red;
}